{% extends "header.html" %}
{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
<br>
{% if not current_user.is_authenticated %}
<h3>
    <u>Welcome to Ocean Financial Bank</u>
    <small class="text-muted"><br>The Safest Bank On The Internet</small>
</h3>
<!-- Security -->
<div class="card p-3">
    <h4>Security</h4>
    <p class="lead">Ocean Financial Bank is the safest digital bank on the internet. We use 192-bit encryption as well
        as 128-bit
        random
        key to ensure that your account is kept safe. We offer insurance on up to $140,000 if your account ever gets
        compromised. All our employees have endured a rigorous training program to ensure that they understand important
        security concepts to ensure that every account is as secure as possible. All of our database managers and
        engineers are required to have the <a
                href="http://www.isaca.org/Certification/CISM-Certified-Information-Security-Manager/Pages/default.aspx">
            CISM (Certified Information Security Manager)</a> and
        <a href="https://certification.comptia.org/certifications/security">CompTIA Security+</a> certifications. This
        guarantees that our databases are impenetrable.</p>
</div>
<br>
<div class="card p-3">
    <h4>How Our System Works</h4>
    <p class="lead">
        Ocean Financial Bank was built with efficiency and security in mind, which means all of the transactions we
        process are quick and secure. We use fiber optic technology to ensure that your transaction happens as quickly
        as possible. Every transaction is also secured with end-to-end encryption, meaning your money gets to where
        it needs to be, 100% of the time. Our customer's privacy and happiness come before anything else, even if we
        have to work overtime to make it happen.
    </p>
</div>
<br>
<div class="card p-3">
    <h4>Perks</h4>
    <p class="lead">
        Here at Ocean Financial Bank, we're all about the customers. We offer many perks to make your bad days, just a
        bit better. With your Deep Blue Card ™, you get 6% cash back on dining, 9% cash back on airlines, and 7% on gas.
        We also have no annual fee. On purchases of over $500.00, we also offer up to 24-month financing to make those
        large purchases a little easier.
    </p>
</div>
<br>
{% else %}
<h3>Welcome Back, {{ current_user.first_name }}</h3>
<hr>
{% if sent_transactions or received_transactions %}
<h4>Recent Transactions</h4>
{% for transaction in sent_transactions %}
<div class="card m-3">
    <p class="p-3">
        <u><strong>Sent:</strong></u>
        <br>
        Sender: {{ transaction.sender }}
        <br>
        Recipient: {{ transaction.recipient }}
        <br>
        Amount: ${{ transaction.amount }}</p>
</div>
{% endfor %}

{% for transaction in received_transactions %}
<div class="card m-3">
    <p class="p-3">
        <u><strong>Received:</strong></u>
        <br>
        Sender: {{ transaction.sender }}
        <br>
        Recipient: {{ transaction.recipient }}
        <br>
        Amount: ${{ transaction.amount }}
    </p>
</div>
{% endfor %}
{% else %}
<div class="card m-3">
    <h4 class="p-3">You have no recent transactions</h4>
    <h5 class="muted p-3"><a href="{{ url_for('transaction') }}">You can start making transactions here.</a></h5>
</div>
<!-- End if transactions -->
{% endif %}
<!-- End if logged in -->
{% endif %}
{% endblock %}