<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <title>OFB - Register</title>

    <!-- Bootstrap (because this page doesn't extend the `header.html` which means it doesn't have the navbar but it also
 doesn't inherit the required bootstrap classes-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Bootstrap templates are public domain (https://getbootstrap.com/docs/4.1/examples/sign-in/) -->
    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='signin.css') }}" rel="stylesheet">
</head>

<body class="text-center">
<form method="POST" action="" class="form-signin">
    <a href="{{ url_for('home') }}"><img class="mb-4" src="{{ url_for('static', filename='bank_icon.png') }}" alt=""
                                         width="72" height="72"></a>
    <h1 class="h3 mb-3 font-weight-normal">Register for an Account</h1>

    {{ form.hidden_tag() }}
    <fieldset class="form-group">

        {# first_name #}
        <div class="form-group">

            {% if form.first_name.errors %}
            {{ form.first_name(class="form-control form-control-lg is-invalid") }}
            <div class="invalid-feedback">
                {% for error in form.first_name.errors %}
                <span>{{ error }}</span>
                {% endfor %}
            </div>
            {% else %}
            {{ form.first_name(class="form-control form-control-lg", placeholder="First Name") }}
            {% endif %}
        </div>

        {# last_name #}
        <div class="form-group">

            {% if form.last_name.errors %}
            {{ form.last_name(class="form-control form-control-lg is-invalid") }}
            <div class="invalid-feedback">
                {% for error in form.last_name.errors %}
                <span>{{ error }}</span>
                {% endfor %}
            </div>
            {% else %}
            {{ form.last_name(class="form-control form-control-lg", placeholder="Last Name") }}
            {% endif %}
        </div>

        {# Username #}
        <div class="form-group">

            {% if form.username.errors %}
            {{ form.username(class="form-control form-control-lg is-invalid") }}
            <div class="invalid-feedback">
                {% for error in form.username.errors %}
                <span>{{ error }}</span>
                {% endfor %}
            </div>
            {% else %}
            {{ form.username(class="form-control form-control-lg", placeholder="Username") }}
            {% endif %}
        </div>

        {# email #}
        <div class="form-group">

            {% if form.email.errors %}
            {{ form.email(class="form-control form-control-lg is-invalid") }}
            <div class="invalid-feedback">
                {% for error in form.email.errors %}
                <span>{{ error }}</span>
                {% endfor %}
            </div>
            {% else %}
            {{ form.email(class="form-control form-control-lg", placeholder="Email") }}
            {% endif %}
        </div>


        {# Password#}
        <div class="form-group">

            {% if form.password.errors %}
            {{ form.password(class="form-control form-control-lg is-invalid") }}
            <div class="invalid-feedback">
                {% for error in form.password.errors %}
                <span>{{ error }}</span>
                {% endfor %}
            </div>
            {% else %}
            {{ form.password(class="form-control form-control-lg", placeholder="Password") }}
            {% endif %}
        </div>

        {# Confirm Password#}
        <div class="form-group">

            {% if form.confirm_password.errors %}
            {{ form.confirm_password(class="form-control form-control-lg is-invalid") }}
            <div class="invalid-feedback">
                {% for error in form.confirm_password.errors %}
                <span>{{ error }}</span>
                {% endfor %}
            </div>
            {% else %}
            {{ form.confirm_password(class="form-control form-control-lg", placeholder="Confirm Password") }}
            {% endif %}
        </div>

        {# TOS Box#}
        <div class="form-check">
            {{ form.terms_of_service(class="form-check-input") }}
            {{ form.terms_of_service.label(class="form-check-label") }}
        </div>

    </fieldset>
    {# Submit Button#}
    <div class="form-group">
        {{ form.submit(class="btn btn-outline-info") }}
    </div>
    <div class="border-top pt-3">
        <small class="text-muted">
            Already Have an Account? <a href="{{ url_for('login') }}">Log In</a>
        </small>
    </div>
    <p class="mt-5 text-muted"><a href="{{ url_for('tos') }}">Terms of Service</a></p>
    <p class="mb-3 text-muted">&copy; Ocean Financial 2018 - 2019</p>
</form>
</body>
</html>
